* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

:root {
  --black-bg: #313132;
  --light-bg: #f5f5f7;
  --black-font: #1d1d1f;
  --light-font: #d6d6d6;
}

body {
  background: var(--black-bg);
  color: var(--light-font);
}

.winners {
  display: none;
}


.garage {
  display: none;
}

.winners.active {
  display: block;
}

.garage.active {
  display: block;
}

.car-img {
  transform: scaleX(-1);
  height: 28px;
}

.finish-img {
  display: block;
}

.racing-line {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 2px white dashed;
}